<mat-tab-group animationDuration="0ms">
  <mat-tab label="Order">
    <ng-template matTabContent>
        <p>Orders Here. Lazy Loaded because the ng-template wrapper</p>
    </ng-template>
  </mat-tab>
  <mat-tab label="Shipments">
      <ng-template matTabContent>
          <p>Shipments Here.</p>
      </ng-template>
  </mat-tab>
  <mat-tab label="Archive">
      <ng-template matTabContent>
          <p>Archive Here.</p>
      </ng-template>
  </mat-tab>
</mat-tab-group>