<mat-card>
  <mat-card-header>
    <mat-card-title>Rob Mob</mat-card-title>
    <mat-card-subtitle>gfjhgfjhgf</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/2.jpg">
  <mat-card-content>
    <p>Roby is a dveleoper balbasd toboasdswsw sadsfwe</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button color="danger">DELETE</button>
    <button mat-icon-button><mat-icon>favorite</mat-icon></button>
  </mat-card-actions>
</mat-card>