<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sienav" mode="over">
    <button color="primary" mat-button routerLink="/customers" (click)="drawer.close()">Customers</button>
    <button color="primary" mat-button routerLink="/orders" (click)="drawer.close()">Orders</button>
    <button color="primary" mat-button routerLink="/messages" (click)="drawer.close()">Messages</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          <span>Material Design</span>
          <span class="spacer"></span>
          <button mat-icon-button>
              <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/customers" >
                <mat-icon>beach_access</mat-icon>
                <span>Customers</span> 
              </button>
              <button mat-menu-item routerLink="/orders" >
                <mat-icon>power</mat-icon>
                <span>Orders</span>
              </button>
              <button mat-menu-item routerLink="/messages" disabled>
                <mat-icon>share</mat-icon>
                <span>Messages</span>
              </button>
          </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
 
</mat-drawer-container>
