.container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom:0; 
   .mat-drawer {
        min-width: 200px;
        width: 50%;
        max-width: 400px;
        .mat-button {
             display: block;
             width: 100%;
             text-align: left;
        }
   } 
}